html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000c36;
}

header {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.icon {
  width: 80px;
  height: 90px;
}

.title {
  font-family: "Carter One", system-ui;
  color: #fff;
  margin: 0;
}

main {
  font-family: "Roboto Slab", serif;
  color: #fff;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  gap: 13px;
}

textarea {
  font-family: "Roboto Slab", serif;
  background-color: #3b4877;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 7px;
  height: 35px;
  resize: none;
  font-weight: lighter;
}

.btn {
  font-family: "Roboto Slab", serif;
  background-color: #51e08a;
  color: #000c36;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.loading-panel,
.result-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.loader {
  width: 250px;
  height: 250px;
}

.go-again-btn {
  width: 100%;
  margin-top: 50px;
}

@media (min-width: 1024px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  main {
    width: 50%;
    margin: 0 auto;
  }
}
